:root {
  --p: 223 100% 55% !important;
  --pf: 223 100% 55% !important;
  --pc: 0 0% 100% !important;
  --rounded-btn: 0% !important;

  --b1: 0 0% 97% !important;
  --b3: 0 0% 100% !important;
  --b2: 0 0% 96% !important;
  --b4: 210 4% 11% !important;
  --un-default-border-color: #E9E9EA;


  --menu-text: 223 100% 55%;
}

/* hsla() */

.dark {
  --b1: 0 0% 17% !important;
  --b3: 0 0% 11% !important;
  --b2: 228 5% 19% !important;
  --b4: 0 0% 100% !important;
  --un-default-border-color: #3e3f43;
}

.logo-bg {
  filter: blur(20px) !important;
  background: #1A5CFF;
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  left: 5px;
  top: 5px;
}

body {
  overflow: hidden;
}

.nuxt-icon svg {
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 0 !important;
}

.main-height {
  height: calc(100vh - 60px) !important;
}

.bg-primary-1 {
  background: rgba(26, 92, 255, .6);
  font-weight: bold;
  color: #FFFFFF;
}

/* 选中样式 */
.block {
  cursor: pointer;
  position: absolute;
}

.block-focus {
  /* background:
    linear-gradient(90deg,  50%, transparent 0) repeat-x,
    linear-gradient(90deg, #1A5CFF 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #1A5CFF 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #1A5CFF 50%, transparent 0) repeat-y;
  background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: linearGradientMove .3s infinite linear; */

  border: 2px solid #1A5CFF;
}

@keyframes linearGradientMove {
  100% {
    background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }
}

/* 箭头样式 */
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  height: 70px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.arrow-right {
  border-radius: 8px 0 0 8px;
  left: -20px;
}

.arrow-left {
  right: 2px;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #e9e2e243;
}

::-webkit-scrollbar-thumb {
  background: #e1ddddc7;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cecacac7;
}


.shadow-custom {
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, .1) !important;
}

.mask {
  background-color: rgba(0, 0, 0, .4) !important;
}

.do-disabled {
  pointer-events: none !important;
  cursor: not-allowed;
  opacity: 0.4;
}


.flip-list-move {
  transition: transform 0.5s;
}


.custom-menu {
  user-select: none;
}

.custom-menu>.custom-menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background ease-in-out .3s;
  line-height: 34px;
  padding: 0px 5px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
}

.custom-menu>.custom-menu-item>.nuxt-icon {
  font-size: 18px !important;
  background-color: transparent !important;
  padding: 0;
}

.custom-menu>.custom-menu-item:hover {
  background-color: hsl(var(--bc)/0.1);
}

.custom-menu>.custom-menu-item.active {
  color: hsl(var(--menu-text)) !important;
  background-color: hsl(var(--menu-text)/0.1) !important;
}

.custom-menu>.custom-menu-item.collapse {
  width: 34px;
  height: 34px;
  border-radius: 0px;
  justify-content: center;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}


.custom-category>.custom-menu-item {
  height: 40px !important;
  width: 100% !important;
  margin-top: 5px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.custom-category>.custom-menu-item>p {
  margin: 0;
  line-height: 18px !important;
}

.n-tabs-rail {
  padding: 2px 5px !important;
}


.n-tabs-tab--active {
  font-weight: bold !important;
}
