:root {
  --p: 223 100% 55% !important;
  --pf: 223 100% 55% !important;
  --pc: 0 0% 100% !important;

  --rounded-btn: 0% !important;
}

.logo-bg {
  filter: blur(20px) !important;
  background: #1A5CFF;
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  left: 5px;
  top: 5px;
}

body {
  overflow: hidden;
}


.nuxt-icon svg {
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 0 !important;
}

.main-height {
  height: calc(100vh - 60px) !important;
}


::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #e9e2e243;
}

::-webkit-scrollbar-thumb {
  background: #e1ddddc7;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cecacac7;
}


.shadow-custom {
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, .1) !important;
}

.mask {
  background-color: rgba(0, 0, 0, .4) !important;
}

.dark {
  .shadow-custom {
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, .3) !important;
  }
}
