.logo-bg {
  filter: blur(20px) !important;
  background: #1A5CFF;
  position: absolute;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  left: 0;
  top: 0;
}

.btn {
  border-color: transparent !important;
}

body {
  margin: 0;
}

dialog {
  border: 0;
}

:root {
  --p: 223 100% 55% !important;
  --pf: 223 100% 55% !important;
}
