.logo-bg {
  filter: blur(20px) !important;
  background: #1A5CFF;
  position: absolute;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  left: 0;
  top: 0;
}

:root {
  --p: 223 100% 55% !important;
  --pf: 223 100% 55% !important;
  --pc: 0 0% 100% !important;
}


.tab {
  height: auto !important;
}
